In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
#From the above dictionary, do the following tasks
#access "Mike"

In [3]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [4]:
#access 80

In [5]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [6]:
#change "Mike" to "Your name"

In [9]:
dict1["april_batch"]["student"]["name"] = "Nitish"

In [10]:
dict1

{'april_batch': {'student': {'name': 'Nitish',
   'marks': {'python': 80, 'maths': 70}}}}

In [11]:
#add ML = 80 and DL = 80 inside marks

In [12]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80

In [13]:
dict1["april_batch"]["student"]["marks"]["DL"] = 80

In [14]:
dict1

{'april_batch': {'student': {'name': 'Nitish',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}